.nav_container {
    background-color: var(--color-light);
    height: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.nav_container .search_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.nav_container .link_container{
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link_container a, select{
    padding: 0.8rem;
}

.link_container select{
    background-color: inherit;
    color: var(--color-white);
    font-size: 1.2rem;

    border: none;
}

input[type='search']{
    width: 250px;
    background-image: url();
    background-color: rgba(255, 255, 255, 0.068);
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    height: 40px;
}

.account_controls_container {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}

.account_controls_container svg{
    margin: 5px;
    outline: 10px var(--color-input);
}

