.container_left{
    background-color: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
}

.container_profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_profile .profile{
    background-color: red;
    height: 80px;
    width: 80px;
    background-image: url(../../../../../public/mypictures/mypic.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: none;
    border-radius: 50%;
    border: 2px solid inherit;
    outline: 2px solid yellow;
}

.container_profile h2{
    font-size: 2rem;
    font-weight: 500;
    line-height: 40px;
}

.container_profile p{
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--color-text-light);
}

.container_engagement{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 10px 0.8rem;
    border-radius: 10px;
    margin-top: 20px;
    background-color: var(--color-light);
}

.container_engagement .followers, .following, .event{
    text-align: center;
}

.followers .following .event, p{
    color: var(--color-text-light);
}


.container_explore{
    margin-top: 20px;
    width: 100%;
    padding: 10px 20px;
    background-color: var(--color-light);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.container_explore ol li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
}